.sub {
  &__wrapper {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 36px 26px 30px 36px;
    border-radius: 20px;
    position: relative;
    z-index: 11;
  }
  &__button {
    width: 126px;
    background: #000;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    padding: 23px 50px 21px 20px;
    border-radius: 50px;
    border: none;
  }
  &__info {
    display: flex;
    gap: 8px;
  }
  &__travel {
    display: flex;
    gap: 8px;
  }
  &__title {
    display: flex;
    gap: 8px;
  }
  &__when {
    display: flex;
    gap: 8px;
  }
  &__color {
    color: #79655e;
    font-size: 18px;
    font-weight: 300;
  }
  &__size {
    font-size: 18px;
    font-weight: 600;
  }
  &__mobile{
    display: flex;
    gap: 58px;
  }
}
@include mobile() {
  .sub {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__button {
      width: 282px;
      padding-left: 90px;
    }
   
  }
}
